a,body,div,form,h1,input,li,select,ul {
    padding: 0; margin: 0; font-size: 16px; outline: 0; -webkit-tap-highlight-color: transparent;
}
body {
    font-family: "Bariol", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 9px;
    position: relative;
}

.list-article {
    width: 255px;
    float: left;
}

.art-items {
    list-style: gurmukhi;
    list-style: -moz-bengali;
    list-style-position: inside;
}
.art-items li {
    list-style-position: inside;
    color: rgb(255, 34, 34);
    cursor: pointer;
}

.md-article {
    position: absolute;
    left: 264px;
}

@media only screen
and (max-width: 720px) {
    .md-article {
        position: relative;
        float: left;
        left: 0;
        overflow: hidden;
        margin-top: 18px;
    }
}